# **Importando um dataset com Pandas**

In [1]:
import pandas as pd

In [ ]:
file_name = "/content/drive/MyDrive/Colab Notebooks/Guia de estudos /Manipulação e Tratamento de arquivos/binary.csv"

In [2]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Vendas.xlsx")

In [3]:
df.head()

   Código Venda       Data  ... Valor Unitário Valor Final
0             1 2019-01-01  ...            358         358
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600
4             2 2019-01-02  ...             71          71

[5 rows x 7 columns]

In [4]:
df.dtypes

Código Venda               int64
Data              datetime64[ns]
ID Loja                   object
Produto                   object
Quantidade                 int64
Valor Unitário             int64
Valor Final                int64
dtype: object

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file1 = "/content/drive/MyDrive/Colab Notebooks/salarios.csv"
df2 = pd.read_csv(file1)

In [ ]:
df2.head()

       AARON,  ELVIA J          WATER RATE TAKER       WATER MGMNT   $88967.00
0    AARON,  JEFFERY M            POLICE OFFICER            POLICE   $80778.00
1       AARON,  KARINA            POLICE OFFICER            POLICE   $80778.00
2  AARON,  KIMBERLEI R  CHIEF CONTRACT EXPEDITER  GENERAL SERVICES   $84780.00
3  ABAD JR,  VICENTE M         CIVIL ENGINEER IV       WATER MGMNT  $104736.00
4      ABARCA,  ANABEL      ASST TO THE ALDERMAN      CITY COUNCIL   $70764.00

In [ ]:
#utilizando alguns parametros, usecols =[colunas especificas], nrows =[numero de linhas] header[para estabelecer o cabeçalho]
filearq = "/content/drive/MyDrive/Colab Notebooks/salarios.csv"
dx = pd.read_csv(filearq, usecols= ["Name","Employee Annual Salary"], nrows=3)

In [ ]:
dx = pd.read_csv(filearq, usecols= [0,1,2], nrows = 10)

In [ ]:
print(dx)

                    Name            Position Title        Department
0        AARON,  ELVIA J          WATER RATE TAKER       WATER MGMNT
1      AARON,  JEFFERY M            POLICE OFFICER            POLICE
2         AARON,  KARINA            POLICE OFFICER            POLICE
3    AARON,  KIMBERLEI R  CHIEF CONTRACT EXPEDITER  GENERAL SERVICES
4    ABAD JR,  VICENTE M         CIVIL ENGINEER IV       WATER MGMNT
5        ABARCA,  ANABEL      ASST TO THE ALDERMAN      CITY COUNCIL
6      ABARCA,  EMMANUEL     GENERAL LABORER - DSS     STREETS & SAN
7  ABBATACOLA,  ROBERT J       ELECTRICAL MECHANIC          AVIATION
8  ABBATEMARCO,  JAMES J             FIRE ENGINEER              FIRE
9       ABBATE,  TERRY M            POLICE OFFICER            POLICE

In [ ]:
dx.shape

(10, 3)

In [ ]:
fileexcel = "/content/drive/MyDrive/Colab Notebooks/Vendas.xlsx"

In [ ]:
dy = pd.read_excel(fileexcel, sheet_name= 1)
dy.head()

   Código Venda       Data  ... Valor Unitário Valor Final
0             1 2019-01-01  ...            358         358
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600
4             2 2019-01-02  ...             71          71

[5 rows x 7 columns]

In [ ]:
dy.shape

(7, 7)

In [ ]:
#verificando nome das abas
verifcar = pd.ExcelFile("/content/drive/MyDrive/Colab Notebooks/Vendas.xlsx")

In [ ]:
verifcar.sheet_names

['Plan1', 'Planilha1']

In [ ]:
aba1 = verifcar.parse('Plan1')
aba2 = verifcar.parse('Planilha1')

In [ ]:
aba2.head()

   Código Venda       Data  ... Valor Unitário Valor Final
0             1 2019-01-01  ...            358         358
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600
4             2 2019-01-02  ...             71          71

[5 rows x 7 columns]

In [ ]:
#selecionando dados

In [ ]:
# um a ou n colunas por índice

In [ ]:
df["ID Loja"].head()

0    Iguatemi Esplanada
1    Iguatemi Esplanada
2    Iguatemi Esplanada
3        Norte Shopping
4        Norte Shopping
Name: ID Loja, dtype: object

In [ ]:
df.loc[0:20, ["Produto","ID Loja"]]

In [ ]:
#selecionando por notação de ponto
df.Produto.head()

0    Sapato Estampa
1          Camiseta
2     Sapato Xadrez
3           Relógio
4      Chinelo Liso
Name: Produto, dtype: object

In [ ]:
df["nova"] = df["Produto"] + df["ID Loja"]

In [ ]:
df.head()

   Código Venda       Data  ... Valor Final                              nova
0             1 2019-01-01  ...         358  Sapato EstampaIguatemi Esplanada
1             1 2019-01-01  ...         360        CamisetaIguatemi Esplanada
2             1 2019-01-01  ...         368   Sapato XadrezIguatemi Esplanada
3             2 2019-01-02  ...         600             RelógioNorte Shopping
4             2 2019-01-02  ...          71        Chinelo LisoNorte Shopping

[5 rows x 8 columns]

In [ ]:
#usando o loc

In [ ]:
df.loc[[1,2,8]]

   Código Venda       Data  ... Valor Final                                  nova
1             1 2019-01-01  ...         360            CamisetaIguatemi Esplanada
2             1 2019-01-01  ...         368       Sapato XadrezIguatemi Esplanada
8             7 2019-01-02  ...         116  Camisa Gola V ListradoNorte Shopping

[3 rows x 8 columns]

In [ ]:
df.loc[0:10, "Código Venda" ]

0     1
1     1
2     1
3     2
4     2
5     3
6     5
7     6
8     7
9     7
10    8
Name: Código Venda, dtype: int64

In [ ]:
df.loc[0:10, ["Código Venda", "Data"]]

    Código Venda       Data
0              1 2019-01-01
1              1 2019-01-01
2              1 2019-01-01
3              2 2019-01-02
4              2 2019-01-02
5              3 2019-01-02
6              5 2019-01-02
7              6 2019-01-02
8              7 2019-01-02
9              7 2019-01-02
10             8 2019-01-02

In [ ]:
#usando o iloc

In [ ]:
#usa apenas intervalos numéricos
#não inclui o último indice

In [ ]:
df.iloc[0:10]

In [ ]:
df.iloc[0:10, 0:3]

   Código Venda       Data                     ID Loja
0             1 2019-01-01          Iguatemi Esplanada
1             1 2019-01-01          Iguatemi Esplanada
2             1 2019-01-01          Iguatemi Esplanada
3             2 2019-01-02              Norte Shopping
4             2 2019-01-02              Norte Shopping
5             3 2019-01-02  Rio Mar Shopping Fortaleza
6             5 2019-01-02              Shopping Barra
7             6 2019-01-02         Shopping Ibirapuera
8             7 2019-01-02              Norte Shopping
9             7 2019-01-02              Norte Shopping

In [ ]:
df.iloc[[0,1,3], 0:3]

   Código Venda       Data             ID Loja
0             1 2019-01-01  Iguatemi Esplanada
1             1 2019-01-01  Iguatemi Esplanada
3             2 2019-01-02      Norte Shopping

In [ ]:
#usando o  sort_values(Ordenar dados)
#implace para gravar a modificação

In [ ]:
#df.sort_values("Data", inplace =True )
df.sort_values("Data").head()

     Código Venda       Data  ... Valor Final                              nova
0               1 2019-01-01  ...         358  Sapato EstampaIguatemi Esplanada
1               1 2019-01-01  ...         360        CamisetaIguatemi Esplanada
2               1 2019-01-01  ...         368   Sapato XadrezIguatemi Esplanada
194           142 2019-01-02  ...          85       Gorro XadrezShopping Recife
193           142 2019-01-02  ...        1418       Terno XadrezShopping Recife

[5 rows x 8 columns]

In [ ]:
df.sort_values("ID Loja", ascending= True).head()

       Código Venda  ...                                   nova
89406         61896  ...        Short XadrezBourbon Shopping SP
48745         33632  ...    Relógio ListradoBourbon Shopping SP
48743         33630  ...       Calça EstampaBourbon Shopping SP
62090         42929  ...    Relógio ListradoBourbon Shopping SP
62091         42929  ...  Camisa Gola V LisoBourbon Shopping SP

[5 rows x 8 columns]

In [ ]:
df.sort_values(["Valor Unitário", "Quantidade"], ascending=False).head()

      Código Venda  ...                                   nova
5029          3431  ...  Terno LinhoRio Mar Shopping Fortaleza
5543          3769  ...           Terno LinhoIguatemi Campinas
6335          4323  ...           Terno LinhoSalvador Shopping
6431          4386  ...          Terno LinhoShopping SP Market
6828          4647  ...              Terno LinhoNorte Shopping

[5 rows x 8 columns]

In [ ]:
#Usando items e filter

In [ ]:
df.filter( items = ["Código Venda", "Data"])

        Código Venda       Data
0                  1 2019-01-01
1                  1 2019-01-01
2                  1 2019-01-01
3                  2 2019-01-02
4                  2 2019-01-02
...              ...        ...
100994         69996 2019-12-26
100995         69996 2019-12-26
100996         69996 2019-12-26
100997         69997 2019-12-26
100998         69997 2019-12-26

[100999 rows x 2 columns]

In [ ]:
#usando like (colunas) #filter

In [ ]:
df.filter( like = "Ven").head()

   Código Venda
0             1
1             1
2             1
3             2
4             2

In [ ]:
#Como Pandas realiza operações lógicas

In [ ]:
df[df.Produto == "Camiseta"]

        Código Venda       Data  ... Valor Unitário Valor Final
1                  1 2019-01-01  ...            180         360
15                11 2019-01-02  ...            180         180
119               93 2019-01-02  ...            180         180
206              148 2019-01-02  ...            180         360
276              199 2019-01-02  ...            180         360
...              ...        ...  ...            ...         ...
100234         69449 2019-12-23  ...            180         540
100519         69634 2019-12-24  ...            180         540
100661         69745 2019-12-24  ...            180         540
100822         69883 2019-12-25  ...            180         180
100901         69933 2019-12-25  ...            180         540

[852 rows x 7 columns]

In [ ]:
df.columns = df.columns.str.replace(" ", "_")

In [ ]:
df[(df.Produto == "Camiseta") & (df.ID_Loja == "Iguatemi Esplanada")].head()

       Código_Venda       Data  ... Valor_Unitário Valor_Final
1                 1 2019-01-01  ...            180         360
4405           3018 2019-01-17  ...            180         180
4489           3067 2019-01-17  ...            180         360
7696           5251 2019-01-29  ...            180         180
13073          8985 2019-02-17  ...            180         180

[5 rows x 7 columns]

In [ ]:
df[(df.Produto == "Camiseta") & (df.ID_Loja == "Iguatemi Esplanada")][["Produto" , "ID_Loja"]]

In [ ]:
df[(df.Produto == "Camiseta") | (df.ID_Loja == "Iguatemi Esplanada")][["Produto" , "ID_Loja"]]

In [ ]:
# Refatorando a operação usando o isin

In [ ]:
df[(df.Produto == "Camiseta") & (df.ID_Loja isin(["Iguatemi Esplanada", "ID_Loja"])]

SyntaxError: ignored

In [ ]:
# Usando groupby e funções descritivas

In [ ]:
#maior valor
df.Valor_Unitário.max()

750

In [ ]:
#media
df.Valor_Unitário.mean()

191.861018425925

In [ ]:
#usnado o groupby

In [ ]:
df[["ID_Loja", "Produto", "Valor_Final"]].groupby(["ID_Loja", "Produto"]).max()

                                      Valor_Final
ID_Loja             Produto
Bourbon Shopping SP Bermuda                   750
                    Bermuda Estampa           676
                    Bermuda Linho             975
                    Bermuda Liso              785
                    Bermuda Listrado          815
...                                           ...
Shopping Vila Velha Tênis Estampa            1280
                    Tênis Linho              1470
                    Tênis Liso               1330
                    Tênis Listrado           1310
                    Tênis Xadrez             1295

[3000 rows x 1 columns]

In [ ]:
#outro exemplo de uso do groupby
#df[((df.age >= 30) & (df.age <= 50)) & (df.marital.isin(["married", "divorced"]))][colunas].groupby(["marital"]).mean()

In [ ]:
import numpy as np
s = pd.Series((1,2,3,4,5), index=["a", "b", "c", "d", "e"])
#s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64